@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

.main-container {
  width: 50%;
  justify-self: center;
  justify-content: left;
}

code {
  background-color: black;
  color: white;
  padding: 0px 10px;
}

pre {
  background-color: black;
}


footer {
  padding: 50px;
}

a {
  color: coral;
}

a:visited {
  color: brown;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px; /* Position it 20px from the bottom */
  right: 20px;  /* Position it 20px from the right */
  width: 50px;  /* Width of the button */
  height: 50px; /* Height of the button */
  background-color: coral; /* Button background color */
  color: white; /* Arrow color */
  border-radius: 50%; /* Make it round */
  text-align: center;
  font-size: 24px; /* Arrow size */
  line-height: 50px; /* Vertically center the text */
  text-decoration: none; /* Remove underline from the link */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.scroll-to-top:hover {
  background-color: brown; /* Darker blue on hover */
}

.scroll-to-top:visited {
  color: white;
}